if isOwnerView
  div(style='background-color:yellow;')
    p This is your form. Some fancy admin controls will go here :)
    p Visit this page incognito and these won't be here.
h1= form.name
p
  | This is
  |
  = user.displayName
  |
  | (
  = user.email
  | )
  | 's form.
hr
h3 Questions
form(method='POST', action=form.submitUrl)
  for question in form.questions
    fieldset
      -key = 'question_' + question.id
      case question.type
        when 0
          -optionName = key + '-option'
          label(for=key)= question.title
          for option in question.options
            -optionKey = optionName + option.id
            .input-group
              input(
                id=optionKey
                type='radio'
                name=optionName
                value=option.id
              )
              label(for=optionKey)= option.value
        when 2
          label(for=key)= question.title
          input(id=key, type='text', name=key)
        default
          p Unknown question type
  button(type='submit') Submit
